name: Build and Release

on:
  push:
    branches:
      - master
    tags:
      - "v*"

jobs:
  apk:
    name: Generate APK
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      
      - name: Set execution flag for gradlew
        run: chmod +x gradlew
      
      - name: Decode Keystore File
        run: echo "${{ secrets.KEYSTORE_FILE }}" | base64 -d > ${{ github.workspace }}/my-release-key.keystore
        
      - name: List files in the APK directory
        run: ls -Rla ./
        
      - name: Build APK
        run: |
          ./gradlew assembleNoAnalyticsRelease \
            -Pandroid.injected.signing.store.file=${{ github.workspace }}/my-release-key.keystore \
            -Pandroid.injected.signing.store.password=${{ secrets.KEYSTORE_PASSWORD }} \
            -Pandroid.injected.signing.key.alias=${{ secrets.KEY_ALIAS }} \
            -Pandroid.injected.signing.key.password=${{ secrets.KEY_PASSWORD }} \
            --stacktrace
      
      - name: Rename APK
        run: mv presentation/build/outputs/apk/noAnalytics/release/QUIK-v*-noAnalytics-release.apk presentation/build/outputs/apk/noAnalytics/release/QUIK-noAnalytics-release.apk
      
      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: apk
          path: presentation/build/outputs/apk/noAnalytics/release/QUIK-noAnalytics-release.apk

  release:
    name: Release APK
    needs: apk
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - name: Download APK from build
        uses: actions/download-artifact@v3
        with:
          name: apk
          
      - name: List files in the APK directory
        run: ls -Rla ./

      - name: Create and upload release
        uses: softprops/action-gh-release@v1
        with:
          files: QUIK-noAnalytics-release.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Validate Fastlane Supply Metadata
        uses: ashutoshgngwr/validate-fastlane-supply-metadata@v2.0.0
        with:
            fastlaneDir: ./metadata # optional
    
